{% extends 'header.html' %}
{% load cmyk_to_rgb %}
<html>
<head></head>
<body>
    {% block content %}
        <div class="row">
        {% for element in object_list %}
                <div class="col-sm-6">
                <div class="card" style="margin: 2%">
                    <div class="card-header" style="color: white; background-color: rgb({{ element.cmyk|to_rgb }})">
                    {% if element.color_name == 'Branco'%}
                    <font color="black">{{ element.color_name }}</font>
                    {% else %}
                    <font color="white">{{ element.color_name }}</font>
                    {% endif %}
                    </div>
                    <div class="card-body">
                    <p class="card-text">Nome da cor: {{ element.color_name }}
                    <p class="card-text">CMYK: {{ element.cmyk }} </p>
                    </div>
                </div>
                </div>
        {% endfor %}
            </div>
    {% endblock %}


    <table border="2">
        <thead>
            <tr>
                <th>Nome da cor</th>
                <th>CMYK</th>
            </tr>
        </thead>
        <tbody>
            {% for element in object_list %}
            <tr>
                <td>{{ element.color_name }}</td>
                <td>{{ element.cmyk }}</td> 
                {% endfor %}
            </tr>
        </tbody>
    </table>
    
</body>
</html>