<html>
<head></head>
<body>
    <table border="2">
        <thead>
            <tr>
                <th>Base (Branco)</th>
                <th>Preto</th>
                <th>Amarelo</th>
                <th>Magenta</th>
                <th>Ciano</th>
            </tr>
        </thead>
        <tbody>
            {% for element in object_list %}
            <tr>
                <td>{% firstof element.stock_base "Indisponível" %}</td>
                <td>{% firstof element.stock_black "Indisponível" %}</td> 
                <td>{% firstof element.stock_yellow "Indisponível" %}</td> 
                <td>{% firstof element.stock_magenta "Indisponível" %}</td> 
                <td>{% firstof element.stock_cyan "Indisponível" %}</td> 
                {% endfor %}
            </tr>
        </tbody>
</body>
</html>