{% extends 'header.html' %}

<html>
<head></head>
<body>
    {% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Base (Branco)</th>
                <th bgcolor="cyan">Ciano</th>
                <th bgcolor="magenta">Magenta</th>
                <th bgcolor="yellow">Amarelo</th>
                <th bgcolor="black"><font color="white">Preto</font></th>
            </tr>
        </thead>
        <tbody>
            {% for element in object_list %}
            <tr>
                <td>{% firstof element.stock_base|stringformat:"i"|add:" ml" "Indisponível" %}</td>
                <td>{% firstof element.stock_cyan|stringformat:"i"|add:" ml" "Indisponível" %}</td> 
                <td>{% firstof element.stock_magenta|stringformat:"i"|add:" ml" "Indisponível" %}</td> 
                <td>{% firstof element.stock_yellow|stringformat:"i"|add:" ml" "Indisponível" %}</td> 
                <td>{% firstof element.stock_black|stringformat:"i"|add:" ml" "Indisponível" %}</td> 
                {% endfor %}
            </tr>
        </tbody>

        {% if critical_colors_list|length > 0 %}
        <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
                <div class="card-header">Aviso</div>
                <div class="card-body">
                  <h5 class="card-title">Nível de tinta crítico</h5>
                  <p class="card-text">As seguintes tintas estão com quantidades muito pequenas de tinta: {{ critical_colors }}</p>
                </div>
        </div>
        {% endif %}
              
        {% endblock %}
</body>
</html>