{% extends 'header.html' %}
{% load crispy_forms_tags %}

<html>
<head></head>
<body>
    {% block content %}
    <form method="POST">{% csrf_token %}
        <p> {{ form.stock_base|as_crispy_field }} </p>
        <p> {{ form.stock_cyan|as_crispy_field }} </p>
        <p> {{ form.stock_magenta|as_crispy_field }} </p>
        <p> {{ form.stock_yellow|as_crispy_field }} </p>
        <p> {{ form.stock_black|as_crispy_field }} </p>
        
        <button type="submit" class="btn btn-success">Salvar </button>
    </form>
    {% endblock %}
</body>
</html>